/*Propiedades del Body*/
Body{
	background-color: #ffffff;
	background-image: url("/Transporto/Images/FondoAplicacion.png");
	background-repeat: no-repeat;
	background-position: 350px 30px;
	text-decoration:none;
	color : Black;
	text-align:left;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight : bold;
}


.letraLogout{
	background-color: transparent;
	text-decoration:none;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:normal;	
	font-weight:bold;
	text-align:center;	
}
	

footer{
	/*background-color: #000000;*/
	border-width:thin; 
	margin: 50px 0 0 0; 
	width:99%;
	height: 20px;
	position: center;
	font-style:italic;
	color:#3c960c;
	top:87%;
	z-index: 1;
	text-align:center;
}

.login{
	margin: 40px 0 0 0;
	border-style:ridge;
	border-width:thin;
	border-color:#000000;
	width:30%;
	height:50%;
	position:center; 
	text-align:left;
	z-index: 1000;
}

.forms{
	margin: 40px 0 0 0;
	border-style:dotted;
	border-width:thin;
	border-color:#000000;
	width:60%;
	/*Pheight:400px;*/
	position:center ; 
	text-align:left;
	z-index: 1000;
}

.enlace{
	position: center;
	font-style:italic;
	color:#3c960c;
	text-decoration: none;
}


 #osx-modal-content, #osx-modal-data {display:none;}
 
 /* Overlay */
 #osx-overlay {background-color:#000;}
 
 /* Container */
 #osx-container {background-color:#ffffff; color:#000; font: 16px/24px "Lucida Grande",Arial,sans-serif; padding-bottom:4px; width:600px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:0 0 6px 6px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000; box-shadow:0 0 64px #000;}
 #osx-container a {color:#73d338;}
 #osx-container #osx-modal-title {color:#ffffff; background-color:#46871e; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px; text-shadow:0 1px 0 #000000;}
 #osx-container .close {display:none; position:absolute; right:0; top:0;}
 #osx-container .close a {display:block; color:#ffffff; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:0 1px 0 #f4f4f4;}
 #osx-container .close a:hover {color:#000;}
 #osx-container #osx-modal-data {font-size:12px; padding:6px 12px;}
 #osx-container h2 {margin:10px 0 6px;}
 #osx-container p {margin-bottom:10px;}
 #osx-container span {color:#777;}